{:api-root "http://pupa-szczyp.rhcloud.com"
 :scans-root "https://e7dccf9a2c0af1489d4839b7d993a1ef31d5970a.googledrive.com/host/0ByuC3kzSJZocfngtVkxVaXhoNndjWnIxX3VNT2YyOURiYjVoSkpmc3NYTTJSSUJWWEo0VEk"}
